./dependencies/tesserocr-2.8.0-cp313-cp313-win_amd64.whl; sys_platform == 'win32'
beautifultable
colorama
httpx
keyboard
lxml
mouse
mss
natsort
numpy
opencv-python==4.11.0.86
Pillow
pre-commit
psutil
pydantic
pydantic-numpy
pydantic-yaml
pyinstaller
pyqt6
pytest
pytest-env
pytest-mock
pytest-pythonpath
pytest-xdist
pytweening
pywin32; sys_platform == 'win32'
pyyaml
rapidfuzz
ruamel.yaml~=0.18.0
ruff
selenium
seleniumbase
tk
typing_extensions
webdriver-manager
