./dependencies/tesserocr-2.7.1-cp313-cp313-win_amd64.whl
beautifultable
colorama
coverage
cryptography
httpx
keyboard
lxml
mouse
mss
natsort
numpy
opencv-python==4.11.0.86
Pillow
pre-commit
psutil
pydantic
pydantic-numpy
pydantic-yaml
pyinstaller
pyqt6
pytest
pytest-env
pytest-mock
pytest-pythonpath
pytest-xdist
pytweening
pywin32
pyyaml
rapidfuzz
ruamel.yaml~=0.18.0
ruff
selenium
seleniumbase
tk
typing_extensions
webdriver-manager
