name: CI

on:
  pull_request:
  push:
    branches: [main]

concurrency:
  group: "${{github.workflow}}-${{github.ref}}"
  cancel-in-progress: true

jobs:
  tests:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup env
        uses: ./.github/actions/setup_env
      - name: Run prek
        uses: j178/prek-action@v1
      - name: Pytest
        shell: powershell
        run: pytest . -m "not selenium" -v -n logical
#      - name: Pytest selenium
#        shell: powershell
#        run: pytest . -m "selenium" -v
